body{
    background-color: lightskyblue;
    padding: 0;
}
.a1{
    width: 10%;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px;
}
.e {
	Font-family:sans-serif;
}
.big {
display: grid;
grid-template-columns: 300px 300px 300px 300px   ;
grid-template-rows:  300px 300px 300px 300px ;
column-gap: 45px  ;
row-gap: 45px ;
width: 1200px;
height: 500px;
}
.big2 {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px   ;
    grid-template-rows:  200px 200px 200px 200px ;
    column-gap: 20px  ;
    row-gap: 20px ;
    width: 500px;
    height: 500px;
}    
.soraa {
    width: 300px;
    height: 300px;
    transition-duration: .3s;
transition-timing-function: linear;
border-radius: 50%  ;
}
.sora2 {
    width: 200px;
    height: 200px;
    transition-duration: .3s;
transition-timing-function: linear;
border-radius: 50%  ;
}
.ppp {
    display: flex;
    font-weight: lighter;
    font-size: 50px;
    color: black;
}
.b:hover{
    transform:scale(1.1) ;
    cursor: pointer;
}
.b:hover .ppp{
    color: blue;
}
a:hover{
    transform:scale(1.1) ;
    cursor: pointer;
    color: blue;
}